[{:system

  {:groups #{{:+/db/id [[:group-codepair]]

              :name "codepair"

              :users #{{:+/db/id [[:user-codepair]]
                        :username "codepair"
                        :password "default"
                        :firstname "codepair"
                        :lastname "codepair"
                        :email "codepair"
                        :defaultgroup [[:group-codepair]]}}

              :owner [[:user-codepair]]



              :sessions #{{:begin #inst "2014-12-10T09:00:00.00Z"
                           :end #inst "2014-12-10T09:20:00.00Z"
                           :participants []}}}}}}]
